[user]
  email = crome@moronia.hu
  name = Bence Monus

[push]
  default = simple # push to current tracking branch if the names match

[color]
  ui = auto

[alias]
  c = commit
  co = checkout
  st = status
  b = branch
  f = !git fetch && git status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[core]
  pager = "less -FRX"
[fetch]
	recurseSubmodules = yes
